@model List<Post>

<div class="row gx-2 gy-2">
    @foreach (var post in Model)
    {
        <div class="col-4">
            <a href="/Post/ViewPost?id=@post.Id">
                <div class="image-container">
                    <img src="@post.ImagePath" alt="Post Image" class="img-fluid" />
                </div>
            </a>
        </div>
    }
</div>






@* @model List<Post>

<div class="row ">
    @foreach (var post in Model)
    {
        <div class="col-4">
            <a href="/Post/ViewPost?id=@post.Id">
                <img src="@post.ImagePath" alt="Post Image" class="img-thumbnail me-2 border" />
            </a>
        </div>
    }
</div>
 *@